footer{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color:#2F2E41;
    padding: 10px;
   
    @include for-tablet-landscape-up{
       margin-top: 5%;
        
    }

        img{
            width: 20%;

                @include for-tablet-landscape-up{
                    width: 10%;
                    
                }

                    @include for-desktop-up{
                        width: 6%;
                        
                    }
        }
}