.minion-pc-svg{

    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;

            @include for-tablet-landscape-up{
                margin-top: 20px;
            }

    svg{
        width: 60%;

            @include for-tablet-landscape-up{
                width: 50%;
            }
    }

    #minion-ba{
        animation: minionb 5s linear infinite;
        transform-origin: center;
        transform-box: fill-box;
       
    }

        @keyframes minionb{
            0%{
                transform: rotate(0deg);
            }
            50%{
                transform: rotate(3deg);
            
            }

            100%{
                transform: rotate(-1deg);
            
            }
        }

        #minion-yellow{
            animation: miniony 5s linear infinite;
            transform-origin: center;
            transform-box: fill-box;
           
        }
    
            @keyframes miniony{
                0%{
                    transform: rotate(0deg);
                }
                50%{
                    transform: rotate(-2deg);
                
                }
    
                100%{
                    transform: rotate(1deg);
                
                }
            }


}