.web-dev{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(251,176,59,0.6), rgba(251,176,59,1.0));
    padding-bottom: 10px;

        h1{
            color: white;
            margin-top: 30px;

        }

        .dev-images{
           width: 100%;
           overflow: hidden;
           display: flex;
           align-items: center;
           justify-content: space-evenly;

            
            .laptop{
                margin-top: 28px;
            }

            .taplogo{
                width: 60px;
                margin-left: 13px;
                
            }
        }
}