@import "layout";
@import "header";
@import "minion-anim";
@import "interaction-anim";
@import "web-dev";
@import "social-media";
@import "together";

.hero-text{
    text-align: center;
    color: #cccccc;
    font-style: italic;
    font-size: 20rem;
    margin: -50px 0 80px 0;
    padding: 0 30px;

    b{
        font-style: normal;
    }
    
}

section{
    width:400px ;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

footer{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
}






