@import "layout";
@import "header";
@import "minion-anim";
@import "interaction-anim";
@import "web-dev";
@import "social-media";
@import "together";

.hero{
    text-align: center;
        .hero-text{
            text-align: center;
            color: #cccccc;
            font-style: italic;
            font-size: 25rem;
            margin: -60px 0 60px 0;
            padding: 0 10px;

            b{
                font-style: normal;
            }
            
        }

        button{
            background-color: #FF9399;
            color: white;
            padding: 10px 15px;
            border-radius: 10px;
            margin-bottom: 80px;
            font-size: 15rem;
            
            
        }

        .meet-up{
            background-color: white;
            color: #FF9399;
            border: 1px solid #FF9399;
            padding: 10px 15px;
            border-radius: 10px;
            margin-bottom: 80px;
            margin-left: 30px;
            font-size: 15rem;
            
        }
}

section{
    width:400px ;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

footer{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color:#2F2E41;
    padding: 10px;

        img{
            width: 20%;
        }
}






