@import "layout";
@import "header";
@import "minion-anim";
@import "interaction-anim";
@import "web-dev";
@import "social-media";
@import "together";
@import "hero";
@import "footer";


section{
    //width:400px ;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}








